
 <aside>

  <div class="sidebar">
    <a href="#" class="active">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i> </span><h3> Account </h3>
    </a>
    <a href="#">
      <span> <i class="fab fa-bandcamp"></i></span> <h3> Logout </h3>
    </a>
  </div>
 </aside>


